@import "../../../../assets/styles/variables";

.bg-dark-blue {
  background-color: $primary-color !important;
}

.btn-outline-light-blue {
  color: white;
  border-color: white;

  &:hover {
    color: $secondary-color;
    background-color: $primary-color;
    border-color: $secondary-color;
  }
}

.header-logo {
  height: 40px;
}

.bi-person {
  margin-right: 5px;
}

.navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.75);
  &.active {
    color: white;
  }
  &:hover {
    color: white;
  }
}
