<section class="hero-banner py-5 py-lg-0 d-flex align-items-center">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12 text-center text-lg-start mb-4 mb-lg-0">
        <h1 class="display-4 fw-bold text-dark-blue">
          Marlin <br> Odontológico
        </h1>
        <p class="lead mb-4 text-secondary-dark">
          Planos de saúde odontológico com custos acessíveis feitos na medida certa!
        </p>
        <div class="price-info mb-4">
          <span class="text-dark-blue fs-4">A partir de</span>
          <span class="price display-5 fw-bold text-primary-color">R$30<sup class="fs-6">.00</sup></span>
        </div>
        <a routerLink="/planos" class="btn btn-primary btn-lg custom-btn-blue">
          Ver Planos!
        </a>
      </div>

      <div class="col-lg-6 col-md-12 d-flex justify-content-center justify-content-lg-end">
        <img src="assets/images/banner.png" alt="Mulher sorrindo" class="img-fluid hero-image">
      </div>
    </div>
  </div>
</section>
