$primary-color: #134d86;
$secondary-color: #007bff;


// Cores Neutras / de Texto
$text-dark: #343a40;
$text-light: #f8f9fa;
$white: #ffffff;
$black: #000000;

// Cores de Feedback (sucesso, erro, aviso)
$success-color: #28a745;
$error-color: #dc3545;
$warning-color: #ffc107;
